.productBox{
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 241, 234);
}
.bgpic{
    height: 90vh;
    background-color: transparent;
    background-image: url("E:\Work\React store\app\src\Images\bgImage.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed;
}